/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&Cormorant+Garamond|Montserrat&display=swap'); */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap");
* {
  font-family: sans-serif;
  letter-spacing: 0.5px;
  font-size: 13px;
  margin: 0;
  box-sizing: border-box;
}

/* body {
    min-height: 100vh;
} */

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-modal {
  width: 100%;
  height: 100%;
  padding-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal {
  position: fixed;
  z-index: 222;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.497);
}
.contenido-modal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.4);
  animation-name: modal;
  margin-top: 2%;
  border-radius: 10px;
  width: 336px;
}
@keyframes modal {
  from {
    top: -330px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: #00b8ad;
  font-size: 30px;
  font-weight: bold;
}
.close:hover {
  color: #7f8c8d;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 8px 16px;
  color: #f2f2f2;
}
.modal-footer {
  display: flex;
  justify-content: space-around;
}
.modal- {
  display: flex;
  justify-content: space-around;
}
.text1-modal {
  text-align: center;
  color: #00b8ad;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
}
.text2-modal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #008cc9;
  padding-top: 10px;
}
.img-modal {
  display: block;
  margin: auto;
  padding-top: 30px;
}
.modal-body {
  padding: 20px 35px 50px 35px;
  width: 336px;
  height: 300px;
}
.btn-footer {
  width: 125px;
  margin-top: 3%;
  margin-bottom: 5%;
  color: white;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.38947px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  height: 53px;
  left: 34px;
  top: 380px;
  background: #00b8ad;
  border-radius: 10px;
}

.btn- {
  width: 125px;
  margin-top: 3%;
  margin-bottom: 5%;
  background: #00b8ad;
  color: white;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.38947px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

/*------------------ VIEW LOGIN -----------------------------*/

.colorPrincipal {
  color: #168d86;
}
.letraPostulacion{
    font-size: 14px;
    line-height: 16px;
    color: #00B8AD;
    margin-right: 10px;
}
.centerlogin {
  min-height: 100vh;
  /* min-width: 100vh; */
}

.center {
  text-align: center;
  width: 80%;
}
.flex-headerPost {
    display: flex;
    align-items: center;
}
.oport-rec {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #168D86;
text-align: start;
margin: 20px 0 20px 20px;
}
.positionDiv{
    flex-direction: column;
    align-items: center;
}
.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.flex-post {
    display: flex;
    align-items: center;
    flex-direction: column;;
}

.welcome {
  /* color: grey; */
  margin: 25px 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #168d86;
}

.text-label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-start;
  color: #000000;
}

.tu-red {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #979797;
  margin: 45px 0 0;
}

.logo,
.welcome-description {
  display: none;
}

.inputs,
.time,
.date,
.check {
  /* width: 275px;
    margin: 2% 0;
    border: 1px solid #f2ea77;
    outline: none; */
  width: 100%;
  margin: 2% 0 8% 0;
  border: 1px solid #f2ea77;
  outline: none;
  border: 2px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 8px;
}
.select-time {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  margin: 10px 0 20px 0;
}
.form-check {
  align-self: flex-start;
}
.time {
  width: 100px;
  padding: 8px;
  margin: 0;
}
.date {
  padding: 8px;
  width: 150px;
  text-align: center;
  align-self: flex-start;
}
.check {
  width: 50px;
}
.bolder {
  font-weight: bold;
}

.btn-login {
  width: 170px;
  margin-top: 3%;
  margin-bottom: 5%;
  background: #00b8ad;
  color: white;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.38947px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.inputs,
.btn-login,
.btn- {
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

/* .btn-login:hover {
    background: #f2ea77;
    color: #d01818;
} */

.facebook,
.google {
  width: 40px;
}

.btn-fb-google {
  margin: 10px 0;
}

.bold {
  /* font-weight: bold;
    color:#d01818;
    text-decoration: none; */
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #00b8ad;
}

.registro {
  /* font-weight: bold; */
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #00b8ad;
  margin: 15px 0;
}
.oportunidad {
  width: auto;
}
.title-oportunidad {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 34px;
}
.no-bold {
  font-weight: normal;
}
.height-textarea {
  height: 95px;
}
/*------------------------ VIEW REGISTER ---------------------------*/

.welcome2 {
  margin: 15px 0;
}

.register-ok {
  font-size: 16px;
  color: #00bcd4;
}

.ok {
  font-size: 13px;
  margin: 15px 0;
  font-weight: bold;
  color: grey;
}

.ir-login {
  font-size: 15px;
  font-weight: bold;
  color: #202de0;
  line-height: none;
  margin: 15px 0;
}

.ir-login:hover {
  text-decoration: none;
  color: #e41749;
}

.focus {
  border: 1px solid #e41749;
  color: #e41749;
}

.error {
  color: #d01818;
  font-weight: bold;
  margin-bottom: 5px;
  width: 300px;
}

.obligatorio {
  color: #d01818;
  font-size: 14px;
}

/*---------------------- VIEW HOME ----------------------------*/

main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 68px 0;
  /* margin: 100px 15px 0 15px; */
}
.main1{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 15px 0 15px;
}

.container-home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;
    background: #168D86;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* padding: 0 25px; */
}
.cajaPostulante{
    box-sizing: border-box;
    border: 2px solid #D8D8D8;
    border-radius: 10px;
    width: 312px;
    height: 362px;
}

.caja2Postulante{
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    height: 67px;
}
.header1{
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.blanco{
    color: #FFFFFF
}
.marginFlecha{
    margin-right: 12px;
    margin-left: 5px;
    margin-top: 7px;
}
.letraLabel{
    font-size: 14px;
    line-height: 16px;
    color: #00B8AD;
}

.encabezadoCaja{
    background: #00B8AD;
    border: 3px solid #00B8AD;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.btnVermas{
    width: 92px;
    height: 29px;
    background: #00B8AD;
    border-radius: 8px;
    list-style: none;
}

.letraHeader{
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
    display: contents;
    color: #FFFFFF;
}
.circulo{
    border-color: #168D86;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #168D86;
    margin: 10px;
}

.verde{
    background: #168D86;
}

.botones{
    border: none;
    width: 92px;
    height: 33.83px;
    background: #00B8AD;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 20px;
}
.styleNone{
    list-style: none;
}

.logo-bars {
  display: flex;
  align-items: center;
  list-style: none;
}

/* .logo-bars img:nth-child(1) {
    height: 50px;
    margin: 0 1rem 0 0;
} */
.img2 {
    height: 30px;
    margin: 0 0 0 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-salir{
    color: white;
    text-decoration: none;
}
.logo-bars label {
  font-size: 20px;
  /* margin: 0.5rem; */
  /* background: #e41749; */
  border-radius: 5px;
  /* padding: 0.5rem 0.8rem; */
  cursor: pointer;
  /* color: white; */
}

.navbar {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 80px;
  transform: translateX(-100%);
  background: #171505;
}

.main-nav li {
  list-style: none;
}

.main-nav li a {
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  border-top: 1px solid rgb(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  text-align: center;
  letter-spacing: 0.2px;
}
.misPostula{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* .main-nav li a:hover {
    background: #f2ea77;
    color: #171505;
} */

#toggle:checked ~ .navbar {
  transform: translateX(0%);
}

.search {
  height: 35px;
  border-radius: 2px;
  border-style: none;
  width: 220px;
}

/* CONTENEDOR DE USUARIO */

.container-user .color-img {
  display: none;
}

.email-user {
  display: flex;
  justify-content: center;
  height: 50%;
  align-items: center;
}

.img-perfil {
    border-radius: 50%; 
    margin: 0 1rem 0 0;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.posicionLabel{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.posicionDiv{
    display: flex;
    flex-direction: row
}

.select {
  background: transparent;
  border: none;
  color: darkslategray;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  width: min-content;
}

/* BANDEJA PARA POSTEAR */

.colunm-post {
  /* width: 366px; */
  /* height: 476px; */
  /* left: 4px; */
  /* top: 93px; */
  background: #ffffff;
  /* box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.0387511); */
  /* border-radius: 10px; */
}

.estilotextarea {
  box-sizing: border-box;
  width: 341px;
  height: 252px;
  left: 23px;
  top: 178px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.options-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-img {
  color: #f2ea77;
  background: #e41749;
  padding: 6px;
  border-radius: 50%;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}
.img-margin {
  margin-right: 25px;
}

.btn-compartir {
  width: 310px;
  height: 40px;
  left: 17px;
  top: 521px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background: #00b8ad;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.posts-content {
  margin-top: 30px;
}
.margen {
  margin-left: 35px;
  margin-right: 35px;
}
footer {
  margin: 0;
  padding: 10px 0px 10px 0;
  background: #168d86;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-around;
  align-items: baseline;
}
footer p {
  color: white;
  font-weight: lighter;
  font-size: 12px;
}

/*-------------------- VIEW POST -----------------------*/

.container-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  border: 2px solid rgb(192, 188, 188);
  border-radius: 5px;
}

.header-post {
  display: flex;
  justify-content: space-between;
  background: #f2ea77;
  padding: 10px;
  border-bottom: 1px solid rgb(192, 188, 188);
}

.flex-creador-privicity {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: darkslategray;
  margin-top: 20px;
}

.creador {
  font-weight: bold;
}

.clock {
  font-size: 12px;
  color: #e41749;
}

.delete {
  color: darkslategray;
  font-size: 22px;
}

.textarea-post {
  background: white;
  border: none;
  border-bottom: 1px solid rgb(192, 188, 188);
  padding: 10px;
  height: 55px;
}

.comandos-post {
  margin-bottom: 15px;
  /* display: flex;
    align-items: center; */
  /* padding: 10px 10px 0 10px;
    width: 366px;
    height: 476px;
    left: 4px;
    top: 93px; */
  background: #ffffff;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.0387511);
  border-radius: 10px;
}

.count {
  font-weight: bold;
  margin: 0 10px;
}

.textarea-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  padding: 10px;
}

.text-coment {
  height: 42px;
  width: 85%;
  background: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
}

.btn-comment {
  font-size: 22px;
  font-weight: bold;
  color: #e41749;
  padding: 10px 0 10px 10px;
}

.background {
  background: #f1f1f1;
}

.first-post {
  padding: 10px;
  border-bottom: 1px solid rgb(192, 188, 188);
  text-align: justify;
}
.puesto1 {
    padding: 25px;
}
.title2 {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* text-align: center; */
margin-top: 8px;

color: #168D86;
}
.oport-puesto {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 123.9%;
/* or 22px */
color: #008CC9;

text-decoration-line: underline;


}
/*----------------------- VIEW COMMENTS ----------------------*/

.container-comment {
  text-align: center;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin: 8px;
  border: 3px solid #f2ea77;
}

.creador-comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.email-comment {
  color: slategray;
}

.clock-comment {
  font-size: 12px;
  color: darkslategray;
}

.clock-icon {
  color: #e41749;
}

.flex-comment {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.buttons-comments {
  font-size: 20px;
  color: dimgray;
}

.first-comment {
  width: -webkit-fill-available;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  text-align: start;
}

/*--------------------- VIEW PROFILE ---------------------*/

.form-profile {
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  background: #fffffa;
}

.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px solid #fffffa;
}

.label-profile {
  border: 1px solid #f2ea77;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  color: darkslategray;
}

.name-profile {
  font-size: 20px;
}

.container-profile {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/fruit.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main-nav {
  flex-direction: column;
  color: #333333;
  background: #ffffff;
}

.volver {
  margin-top: 15px;
  font-weight: bold;
}

.hide {
  display: none;
}
.imgConvocatoria {
  /* height: 200px; */
  width: 310px;
}

.flex {
  display: flex;
}
.align {
  align-items: center;
}
/* OPORTUNIDADES */
.tex {
  width: 95%;
}
.flex-creador-privicity p,
h3,
.rrhh {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.flex-creador-privicity p {
  width: 300px;
}
.margin {
  margin-bottom: 15px;
}
.cards {
  background: #ffffff;
  border: 1px solid #008cc9;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 35px;
  width: 281px;
    height: 206px;
    display: flex;
    flex-direction: column;

}
.card-puesto {
    padding: 20px 0;
    
}
.card-title {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
}
.cards .card-title {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #008CC9;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
#margin-card {
    margin: 20px;
}
.btnContainer {
    display: flex;
    justify-content: center;
}
.width-hist {
    padding: 20px;
 
}
.width-hist p, .width-hist p p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    /* identical to box height */
    
    letter-spacing: 0.2px;
}


.card .card-body {
    font-size: 15px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.card-body p {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
}
.spanTitulo{
    color: #979797;
}
#verMasBtn {
    /* margin-top: 30px; */
    border-style: none;
    width: 52%;
    height: 40px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    background: #00B8AD;
    border-radius: 10px;
}
.margin-flecha {
    margin-left: -100px;
}
.detalle {
    border-style: none;
    width: 80px;
    height: 40px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    background: #00B8AD;
    border-radius: 10px;
}
.flex3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width: 764px) {
  * {
    font-size: 15px;
  }
  /* VIEW LOGIN */
  .logo,
  .welcome-description {
    display: block;
  }
  .logo {
    width: 40%;
  }
  .flex-form {
    width: 45%;
  }
  .welcome {
    display: none;
  }
  .center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  .welcome-description {
    width: 350px;
    margin: 10px 0;
    color: grey;
  }
  .inputs {
    width: 350px;
    margin: 10px 0;
    padding: 13px;
  }
  .facebook,
  .google {
    width: 48px;
  }
  /* VIEW REGISTER */
  .register-ok {
    font-size: 30px;
    color: #e41749;
  }
  .ok {
    font-size: 15px;
  }
  .ir-login {
    font-size: 18px;
  }
  /* HOME */
  main {
    align-content: center;
    margin-top: 100px;
  }
  header {
    justify-content: space-between;
    padding: 20px 40px 20px 20px;
  }

  .total {
    width: 500px;
    align-self: self-end;
  }
  .logo-bars label {
    display: none;
  }

  .navbar {
    position: static;
    display: flex;
    justify-content: flex-end;
    width: auto;
    transform: translateX(0%);
    font-size: 15px;
  }
  nav ul li {
    display: inline-block;
  }
  .main-nav li a {
    border-top: none;
    line-height: 80px;
    padding: 0 2rem;
  }
  .container-user {
    align-self: flex-start;
    margin-right: 20px;
    border: 2px solid #f2ea77;
    border-radius: 5px;
    width: 300px;
    height: 200px;
  }
  .container-user .color-img {
    display: block;
    height: 50%;
    width: 100%;
  }
  .colunm-post {
    margin: 0;
  }
  .btn-img {
    padding: 10px;
    font-size: 18px;
  }
  .email-user {
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
  }
  .img-perfil {
    width: 23%;
  }
  /* POSTS */
  .clock,
  .email-comment {
    font-size: 14px;
  }
  .flex-creador-privicity {
    flex-direction: column;
  }
  .first-post {
    font-size: 14px;
  }
  /* PERFIL */
  .form-profile {
    width: 400px;
  }
  .img-profile {
    width: 250px;
    height: 250px;
  }
}
  
.more-post {
    color: white;
    font-size: 25px;
}
.auto {
    width: auto;
}


