@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&Cormorant+Garamond|Montserrat&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px; 
    font-size: 13px;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------ VIEW LOGIN -----------------------------*/

.centerlogin{
    min-height: 100vh;
}
.center {
    text-align: center;
    width: 80%;
}
.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.welcome {
    color: grey;
}
.logo, .welcome-description {
    display: none;
}
.inputs {
    width: 275px;
    margin: 2% 0;
    border: 1px solid #f2ea77;
    outline: none;
}
.btn-login {
    width: 170px;
    margin-top: 3%;
    margin-bottom: 5%;
    background: #d01818;
    color: white;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}
.inputs, .btn-login {
    border-radius: 15px;
    padding: 10px;
    outline: none;
}
.btn-login:hover {
    background: #f2ea77;
    color: #d01818;
}
.facebook, .google {
    width: 40px;
}
.btn-fb-google {
    margin: 10px 0;
}
.bold {
    font-weight: bold;
    color:#d01818;
    text-decoration: none;
}
.registro {
    font-weight: bold;
}

/*------------------------ VIEW REGISTER ---------------------------*/ 

.welcome2 {
    margin: 15px 0;  
}
.register-ok {
    font-size: 16px;
    color: #00BCD4;
}
.ok {
    font-size: 13px;
    margin: 15px 0;
    font-weight: bold;
    color: grey;
}
.ir-login {
    font-size: 15px;
    font-weight: bold;
    color: #202de0;
    line-height: none;
    margin: 15px 0;
}
.ir-login:hover {
    text-decoration: none;
    color: #e41749;
}
.focus {
    border: 1px solid #e41749;
    color: #e41749;
}
.error {
    color: #d01818;
    font-weight: bold;
    margin-bottom: 5px;
    width: 300px;
}
.obligatorio {
    color: #d01818;
    font-size: 14px;
}

/*---------------------- VIEW HOME ----------------------------*/
main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 15px 0 15px;
}
.container-home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #171505;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 25px;
}
.logo-bars {
    display: flex;
    align-items:center; 
}
.logo-bars img{
    height: 40px;
    margin: 1rem;
}   
.logo-bars label{
    font-size: 20px;
    margin: 0.5rem;
    background: #e41749;
    border-radius: 5px;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    color: white;
}
.navbar{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top:80px;
    transform:translateX(-100%);
    background: #171505;
} 
.main-nav li {
    list-style: none;       
}
.main-nav li a { 
    line-height: 25px;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;    
    border-top: 1px solid rgb(255,255,255,0.5);
    align-items: center;
    display: flex;
}
.main-nav li a:hover {
    background: #f2ea77;
    color: #171505;
}
#toggle:checked ~ .navbar {
  transform:translateX(0%);
}

/* CONTENEDOR DE USUARIO */
.container-user .color-img {
    display: none;
}
.email-user {
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
}
.img-perfil{
    border-radius:50%;
    width: 20%;
    margin: 0 5px 0 0;
}
.select {
    background: transparent;
    border: none;
    color: darkslategray;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    width: min-content;
}
 /* BANDEJA PARA POSTEAR */
.total {
    width: 100%;
}
.colunm-post {
    border: 2px solid #c1c1c1;
    border-radius: 5px;
    background: #f1f1f1;
    margin-top: 20px;
    padding: 15px;
}
.estilotextarea{
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
}
.options-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-img {
    color: #f2ea77;
    background: #e41749;
    padding: 6px;
    border-radius: 50%;
    font-size: 15px;
}
.pointer{
    cursor: pointer;
}
.btn-compartir{
    padding: 8px 15px;
    border-radius: 20px;
    border: 1;
    border: none;
    color: #e41749;
    background: #f2ea77;
    font-weight: bold;
}
.posts-content {
    margin-top: 30px;
}

/*-------------------- VIEW POST -----------------------*/
.container-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    border: 2px solid rgb(192, 188, 188);
    border-radius: 5px;
}
.header-post{
    display: flex;
    justify-content: space-between;
    background: #f2ea77;
    padding: 10px;
    border-bottom: 1px solid rgb(192, 188, 188);
}
.flex-creador-privicity {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: darkslategray;
}
.creador {
    font-weight: bold;
}
.clock {
    font-size: 12px;
    color: #e41749;
}
.delete {
    color: darkslategray;
    font-size: 22px;
}
.textarea-post {
    background: white;
    border: none;
    border-bottom: 1px solid rgb(192, 188, 188);
    padding: 10px;
    height: 55px;
}
.comandos-post {
    background: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
}
.count {
    font-weight: bold;
    margin: 0 10px;
}
.textarea-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    padding: 10px;
}
.text-coment{
    height: 42px;
    width: 85%;
    background: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}
.btn-comment {
    font-size: 22px;
    font-weight: bold;
    color: #e41749;
    padding: 10px 0 10px 10px;
}
.background {
    background: #f1f1f1;
}
.first-post {
    padding: 10px;
    border-bottom: 1px solid rgb(192, 188, 188);
    text-align: justify;
}
/*----------------------- VIEW COMMENTS ----------------------*/
.container-comment {
    text-align: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
    margin: 8px;
    border: 3px solid #f2ea77;
}
.creador-comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.email-comment {
    color: slategray;
}
.clock-comment {
    font-size: 12px;
    color: darkslategray;
}
.clock-icon {
    color: #e41749;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-comment {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}
.buttons-comments {
    font-size: 20px;
    color: dimgray;
}
.first-comment {
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    text-align: start;

}
/*--------------------- VIEW PROFILE ---------------------*/ 
.form-profile {
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    background: #fffffa;
}
.img-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 20px solid #fffffa;
}
.label-profile {
    border: 1px solid #f2ea77;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    color: darkslategray;
}
.name-profile {
    font-size: 20px;
}
.container-profile {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/fruit.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.volver {
    margin-top: 15px;
    font-weight: bold;
}
.hide {
    display: none;
}
@media screen and (min-width:764px) {
    * {
        font-size: 15px;
    }

    /* VIEW LOGIN */

    .logo, .welcome-description {
        display: block;
    }
    .logo {
        width: 40%;
    }
    .flex-form {
        width: 45%;
    }
    .welcome {
        display: none;
    }
    .center {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        min-height: 100vh;
    } 
    .welcome-description {
        width: 350px;
        margin: 10px 0;
        color: grey;
    }
    .inputs {
        width: 350px;
        margin: 10px 0;
        padding: 13px;
    }
    .facebook, .google {
        width: 48px;
    }

    /* VIEW REGISTER */

    .register-ok {
        font-size: 30px;
        color: #e41749;
    }
    .ok {
        font-size: 15px;
    }
    .ir-login {
        font-size: 18px;
    }

    /* HOME */
    main {
        flex-direction: row;
        align-content: center;
        margin-top: 100px;
    }
    header {
        justify-content: space-between;
        padding: 20px 40px 20px 20px;
    }
    .main-nav {
        align-items: center;
        display: flex;
    }
    .total {
        width: 500px;
        align-self: self-end;
    }
    .logo-bars label{
        display: none
    }
    .navbar {
        position: static;
        display: flex;
        justify-content:flex-end;
        width: auto;             
        transform: translateX(0%);
    }
    nav ul li {
        display: inline-block;      
    }
    .main-nav li a {
        border-top: none;  
        line-height: 80px;
        padding:0 2rem;   
    }
    .container-user {
        align-self: flex-start;
        margin-right: 20px;
        border: 2px solid #f2ea77;
        border-radius: 5px;
        width: 300px;
        height: 200px;
    }
    .container-user .color-img {
        display: block;
        height: 50%;
        width: 100%;
    }
    .colunm-post {
        margin: 0;
    }
    .btn-img {
        padding: 10px;
        font-size: 18px;
    }
    .email-user {
        display: flex;
        justify-content: center;
        height: 50%;
        align-items: center;
    }
    .img-perfil {
        width: 23%;
    }

    /* POSTS */
    .clock, .email-comment {
        font-size: 14px;
    }
    
    .flex-creador-privicity {
        flex-direction: row;
    }
    .first-post {
        font-size: 14px;
    }
    /* PERFIL */
    .form-profile {
        width: 400px;
    }
    .img-profile {
        width: 250px;
        height: 250px;
    }
}